* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  width: 100%;
}